@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
    --primary-color:#4c8bf5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
}
h1 {
    margin: 2% 0 1% 0;
    color: var(--primary-color);
}
.home {
    position: absolute;
    top: 3%;
    right: 1%;
    height: 100px;
}
.fas{
    color: var(--primary-color);
}
.home-btn{
    cursor: pointer;
    border: 0;
    background-color: transparent;
    
}
.exchange-container {
    position: relative;
}
.header {
    text-align: center;
    font-size: 145%;
    
    margin-bottom: -2%;
    margin-top: -1%;
}


.currency {
    background-color: #EEEEEE;
    padding: 15px;
    margin:50px 10px 30px 10px ;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.country-option {
    border-bottom: 2px solid lightgray;
    margin: 0 -3% 0 -3%;
}
.currency-one {
    float: left;
}
.currency-one select {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 15px;
    border:0;
    border-radius:25px ;
    margin: 0px 10px 10px 10px;
    width: 40%;
}
.currency-two{
    float: left;
}
.currency-two select {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 15px;
    border:0;
    border-radius:25px ;
    margin: 0 10px 10px 10px;
    width: 40%;
}
.amount input{
    background-color:#EEEEEE;
    font-size: 80px;
    width: 500px;
    padding: 40px ;
    border: 0pt;
    text-align: center;
}
.btn-container{
    position: absolute;
    top: 175px;
    left: 46.3%; 
}
.btn-container img {
    cursor: pointer;
    width: 155%;
}
select:focus ,input:focus{
    outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}