@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
    --primary-color:#4c8bf5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #4c8bf5;
}
h1 {
    margin: 2% 0 1% 0;
}

.header {
    text-align: center;
    font-size: 145%;
    border-bottom: 2px solid lightgray;
    margin-bottom: -2%;
    margin-top: -1%;
}
.main-container {
    background-color: #ffffff;
}

.currency {
    background-color: #EEEEEE;
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
}

.country-option {
    border-bottom: 2px solid lightgray;
    margin: 0 -3% 0 -3%;
}
.currency-one {
    float: left;
}
.currency-one select {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 15px;
    border:0;
    border-radius:25px ;
    margin: 0 10px 10px 10px;
    
}
.currency-two{
    float: left;
}
.currency-two select {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 15px;
    border:0;
    border-radius:25px ;
    margin: 0 10px 10px 10px;
}
.amount input{
    background-color:#EEEEEE;
    font-size: 80px;
    width: 500px;
    padding: 40px ;
    border: 0pt;
    text-align: center;
}
select:focus ,input:focus{
    outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}