@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
    --primary-color:#4c8bf5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #4c8bf5;
}
