@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,
u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body {
  font-family: "Lato", sans-serif;
  color: white;
  background-image: url("/project2/Images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

button {
  padding: 15px;
  border: none;
  border-radius: 30px;
  width: 170px;
  margin: 137px 0 0 0;
  color: white;
  font-weight: lighter;
  font-size: 16px;
  background-color: #ff1744;
  cursor: pointer;
  outline: none;
}

button:focus{
  outline: 0;
}

.heading {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
 
}

h1 {
  font-size: 35px;
  margin-right: 23px;
}
p {
  margin: 31px 0 50px 0;
  font-size: 16px;
  font-weight: lighter;
  max-width: 100%;
}

h3{
  color: black;
  font-size: 25px;
}


.day-span, .date-span  {
  margin-left: 11px;
}

.img img{
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;
    max-width: 100%;
}

.img{
    
    max-width: 100%;
    position: relative;
}

.space{
    margin-top: -100px;

}
.movieImg{
    position: absolute;
    max-width: 100%;
    top: 110px;
    left: 335px;
}

.small-heading {
  float: left;
}

.ticket-information{
  margin-left: 163px;
}

.movie {
  font-size: 21px;
  margin-bottom: 10px;
 
}

.location {
  font-size: 21px;
  margin-bottom: 10px;
}
.showTiming {
  font-size: 21px;
  margin-bottom: 10px;
  
}

.seat {
  font-size: 21px;
  margin-bottom: 10px;
}

.bookingRefrence {
  font-size: 21px;
  margin-bottom: 10px;
}

.movieImg {
  position: absolute;
  width: 50px;
  height: 30px;
  margin-left: 530px;
  margin-top: 27px;
}

.movieImg h1 {
  color: black;
}

#show {
  color: #ff1744;
}

.main-container-ticket {
  position: absolute;
  top: 23%;
  left: 10%;
}
/* Iphone 5/SE */
 @media only screen and (min-width: 320px) and (max-width: 374px){
  
  button {
    padding: 11px;
    border: none;
    border-radius: 15px;
    width: 137px;
    margin: 94px 0 0 0;
    color: white;
    font-weight: bold;
    font-size: 13px;
    background-color: #ff1744;
    cursor: pointer;
    outline: none;
  }
  .heading {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
  h1 {
    font-size: 18px;
    margin-right: 10px;
  }
  h3 {
    font-size: 10px;
    color: black;
  }
  .space {
    margin-top: -25px;
  }
  p {
    margin: 0px 30px 50px 30px;
    font-size: 12px;
    font-weight: lighter;
    max-width: 100%;
  }
  .img img {
    position: relative;
    margin: 40px 0 30px 14px;
    max-width: 90%;
  }
  .main-container-ticket {
    position: absolute;
    top: 28%;
    left: 13%;
  }
  .ticket-information {
    margin-left: 78px;
 }
}
/* Iphone 6/7/8 --> X */
 @media only screen and (min-width: 321px) and (max-width: 375px) {
  button {
    padding: 11px;
    border: none;
    border-radius: 15px;
    width: 137px;
    margin: 120px 0 0 0;
    color: white;
    font-weight: lighter;
    font-size: 13px;
    background-color: #ff1744;
    cursor: pointer;
    outline: none;
  }
  .heading {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
  h1 {
    font-size: 18px;
    margin-right: 10px;
  }
  h3 {
    font-size: 13px;
    color: black;
  }
  .space {
    margin-top: -75px;
  }
  p {
    margin: 0px 30px 50px 30px;
    font-size: 12px;
    font-weight: lighter;
    max-width: 100%;
  }
  .img img {
    position: relative;
    margin: 40px 0 30px 14px;
    max-width: 90%;
  }
  .main-container-ticket {
    position: absolute;
    top: 28%;
    left: 14%;
  }
  .ticket-information {
    margin-left: 82px;
}
}
/* Iphone 6/7/8 Plus*/
@media only screen and (min-width: 376px) and (max-width:414px) {
  button {
    padding: 12px;
    border: none; 
    border-radius: 40px;
    width: 150px;
    margin: 100px 0 0 0;
    color: white;
    font-weight: lighter;
    font-size: 14px;
    background-color: #ff1744;
    cursor: pointer;
    outline: none;
  }
  .heading {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
  h1 {
    font-size: 22px;
    margin-right: 10px;
  }
  h3 {
    font-size: 15px;
    color: black;
  }
  .space {
    margin-top: -10px;
  }
  p {
    margin: 0px 30px 50px 30px;
    font-size: 14px;
    font-weight: lighter;
    max-width: 100%;
  }
  .img img {
    position: relative;
    margin: 40px 0 30px 14px;
    max-width: 90%;
  }
  .main-container-ticket {
    position: absolute;
    top: 25%;
    left: 14%;
  }
  .ticket-information {
    margin-left: 93px;
  }
}

