@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,
u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media  screen and (max-width:1280px)  and (max-height:800px){

body {
  font-family: "Lato", sans-serif;
  color: white;
  background-image: url("/project2/Images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

button {
  padding: 15px;
  border: none;
  border-radius: 30px;
  width: 200px;
  margin-bottom: 30px;
  color: white;
  font-weight: lighter;
  font-size: 17px;
  background-color: #ff1744;
  cursor: pointer;
}
.heading {
  display: flex;
  flex-flow: row wrap;
  width: 370px;
  justify-content: space-between;
 
}

h1 {
  font-size: 35px;
 
  
}
p {
  margin-bottom: 50px;
  font-size: 17px;
  font-weight: lighter;
}

h3 {
  color: black;
}

span {
  margin-left: 50px;
}

.img {
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;
    
}

.img img{
    width: 620px;
}

.space{
    margin-top: 30px;
}
.movieImg{
    position: absolute;
    top: 220px;
    left: 335px;
}

.small-heading {
  position: absolute;
  top: 280px;
  left: 390px;
}

.ticket-information{
    
    position: absolute;
    top: 280px;
    left: 550px;

}

.movie {
  font-size: 21px;
  margin-bottom: 10px;
  /* position: absolute;
  top: 200px;
  left: 400px; */
}

.location {
  font-size: 21px;
  margin-bottom: 10px;
  /* position: absolute;
  top: 230px;
  left: 400px;
*/
}
.showTiming {
  font-size: 21px;
  margin-bottom: 10px;
  /* position: absolute;
  top: 260px;
  left: 400px; */
}

.seat {
  font-size: 21px;
  margin-bottom: 10px;
  /* position: absolute;
  top: 290px;
  left: 400px; */
}

.bookingRefrence {
  font-size: 21px;
  margin-bottom: 10px;
  /* position: absolute;
  top: 320px;
  left: 400px; */
}

.movieImg {
  position: absolute;
  width: 50px;
  height: 30px;
  margin-left: 530px;
  margin-top: 27px;
}

.movieImg h1 {
  color: black;
}

#show {
  color: #ff1744;
}
}

@media screen and (max-width:1440px) and (min-height:900px){

    body {
      font-family: "Lato", sans-serif;
      color: white;
      background-image: url("/project2/Images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
      background-color: rgba(0, 0, 0, 0.5);
      background-blend-mode: overlay;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
    
    button {
      padding: 15px;
      border: none;
      border-radius: 30px;
      width: 200px;
      margin-bottom: 30px;
      color: white;
      font-weight: lighter;
      font-size: 17px;
      background-color: #ff1744;
      cursor: pointer;
    }
    .heading {
      display: flex;
      flex-flow: row wrap;
      width: 370px;
      justify-content: space-between;
     
    }
    
    h1 {
      font-size: 35px;
     
      
    }
    p {
      margin-bottom: 50px;
      font-size: 17px;
      font-weight: lighter;
    }
    
    h3 {
      color: black;
    }
    
    span {
      margin-left: 50px;
    }
    
    .img {
        position: relative;
        margin-top: 40px;
        margin-bottom: 30px;
        
    }
    
    .img img{
        width: 620px;
    }
    
    .space{
        margin-top: 30px;
    }
    .movieImg{
        position: absolute;
        top: 270px;
        left: 425px;
    }
    
    .small-heading {
      position: absolute;
      top: 335px;
      left: 480px;
    }
    
    .ticket-information{
        
        position: absolute;
        top: 335px;
        left: 640px;
    
    }
    
    .movie {
      font-size: 21px;
      margin-bottom: 10px;
      /* position: absolute;
      top: 200px;
      left: 400px; */
    }
    
    .location {
      font-size: 21px;
      margin-bottom: 10px;
      /* position: absolute;
      top: 230px;
      left: 400px;
    */
    }
    .showTiming {
      font-size: 21px;
      margin-bottom: 10px;
      /* position: absolute;
      top: 260px;
      left: 400px; */
    }
    
    .seat {
      font-size: 21px;
      margin-bottom: 10px;
      /* position: absolute;
      top: 290px;
      left: 400px; */
    }
    
    .bookingRefrence {
      font-size: 21px;
      margin-bottom: 10px;
      /* position: absolute;
      top: 320px;
      left: 400px; */
    }
    
    .movieImg {
      position: absolute;
      width: 50px;
      height: 30px;
      margin-left: 530px;
      margin-top: 27px;
    }
    
    .movieImg h1 {
      color: black;
    }
    
    #show {
      color: #ff1744;
    }
    }

    @media  screen and (max-width:1280px)  and (max-height:950px){

        body {
          font-family: "Lato", sans-serif;
          color: white;
          background-image: url("/project2/Images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
          background-color: rgba(0, 0, 0, 0.5);
          background-blend-mode: overlay;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100vh;
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
        }
        
        button {
          padding: 15px;
          border: none;
          border-radius: 30px;
          width: 200px;
          margin-bottom: 30px;
          color: white;
          font-weight: lighter;
          font-size: 17px;
          background-color: #ff1744;
          cursor: pointer;
        }
        .heading {
          display: flex;
          flex-flow: row wrap;
          width: 370px;
          justify-content: space-between;
         
        }
        
        h1 {
          font-size: 35px;
         
          
        }
        p {
          margin-bottom: 50px;
          font-size: 17px;
          font-weight: lighter;
        }
        
        h3 {
          color: black;
        }
        
        span {
          margin-left: 50px;
        }
        
        .img {
            position: relative;
            margin-top: 40px;
            margin-bottom: 30px;
            
        }
        
        .img img{
            width: 620px;
        }
        
        .space{
            margin-top: 30px;
        }
        .movieImg{
            position: absolute;
            top: 300px;
            left: 335px;
        }
        
        .small-heading {
          position: absolute;
          top: 360px;
          left: 390px;
        }
        
        .ticket-information{
            
            position: absolute;
            top: 360px;
            left: 550px;
        
        }
        
        .movie {
          font-size: 21px;
          margin-bottom: 10px;
          /* position: absolute;
          top: 200px;
          left: 400px; */
        }
        
        .location {
          font-size: 21px;
          margin-bottom: 10px;
          /* position: absolute;
          top: 230px;
          left: 400px;
        */
        }
        .showTiming {
          font-size: 21px;
          margin-bottom: 10px;
          /* position: absolute;
          top: 260px;
          left: 400px; */
        }
        
        .seat {
          font-size: 21px;
          margin-bottom: 10px;
          /* position: absolute;
          top: 290px;
          left: 400px; */
        }
        
        .bookingRefrence {
          font-size: 21px;
          margin-bottom: 10px;
          /* position: absolute;
          top: 320px;
          left: 400px; */
        }
        
        .movieImg {
          position: absolute;
          width: 50px;
          height: 30px;
          margin-left: 530px;
          margin-top: 27px;
        }
        
        .movieImg h1 {
          color: black;
        }
        
        #show {
          color: #ff1744;
        }
        }
        @media  screen and (max-width:1280px)  and (min-height:950px)  and (min-width:1024px)  and (max-height:1366px){

            body {
              font-family: "Lato", sans-serif;
              color: white;
              background-image: url("/project2/Images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
              background-color: rgba(0, 0, 0, 0.5);
              background-blend-mode: overlay;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              height: 100vh;
              appearance: none;
              -moz-appearance: none;
              -webkit-appearance: none;
            }
            
            button {
              padding: 15px;
              border: none;
              border-radius: 30px;
              width: 200px;
              margin-bottom: 30px;
              color: white;
              font-weight: lighter;
              font-size: 17px;
              background-color: #ff1744;
              cursor: pointer;
            }
            .heading {
              display: flex;
              flex-flow: row wrap;
              width: 370px;
              justify-content: space-between;
             
            }
            
            h1 {
              font-size: 35px;
             
              
            }
            p {
              margin-bottom: 50px;
              font-size: 17px;
              font-weight: lighter;
            }
            
            h3 {
              color: black;
            }
            
            span {
              margin-left: 50px;
            }
            
            .img {
                position: relative;
                margin-top: 40px;
                margin-bottom: 30px;
                
            }
            
            .img img{
                width: 620px;
            }
            
            .space{
                margin-top: 30px;
            }
            .movieImg{
                position: absolute;
                top: 510px;
                left: 215px;
            }
            
            .small-heading {
              position: absolute;
              top: 580px;
              left: 290px;
            }
            
            .ticket-information{
                
                position: absolute;
                top: 580px;
                left: 450px;
            
            }
            
            .movie {
              font-size: 21px;
              margin-bottom: 10px;
              /* position: absolute;
              top: 200px;
              left: 400px; */
            }
            
            .location {
              font-size: 21px;
              margin-bottom: 10px;
              /* position: absolute;
              top: 230px;
              left: 400px;
            */
            }
            .showTiming {
              font-size: 21px;
              margin-bottom: 10px;
              /* position: absolute;
              top: 260px;
              left: 400px; */
            }
            
            .seat {
              font-size: 21px;
              margin-bottom: 10px;
              /* position: absolute;
              top: 290px;
              left: 400px; */
            }
            
            .bookingRefrence {
              font-size: 21px;
              margin-bottom: 10px;
              /* position: absolute;
              top: 320px;
              left: 400px; */
            }
            
            .movieImg {
              position: absolute;
              width: 50px;
              height: 30px;
              margin-left: 530px;
              margin-top: 27px;
            }
            
            .movieImg h1 {
              color: black;
            }
            
            #show {
              color: #ff1744;
            }
            }
            
        