@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    box-sizing: border-box;
}


html, body, div, span, 
h1, h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
}

h1 {
    color: #FF0000;
    font-size: 35px;
    margin: 0 5% 3% 0;
}
img{
    width: 40px;
    display: flex;
    justify-content: center;
}
.btn-stop {
    background-color: transparent;
    border: none;
    width: 43%;
    margin: -10% 0 0 18%;
    outline: none;
}

.video-container{
    position: relative;
}

.bold-h1 {
    font-weight: bolder;
}

.heading-of-video-player {
    display: flex;
    margin: 0 0 0 2%
}

.screen{
    cursor: pointer;
    border-radius: 7px;
    margin: 1% 0 0 21%;
    width: 60%;
    background-color: black !important;    
}


.controls{
    display: flex;
    flex-wrap: wrap;
    
   
}
.controls-btn-all {
    position: absolute;
    align-content: center;
    top: 91%;
    left: 22%;
    display: flex;
    width: 60%;
}

.btn{
    background: transparent;
    border: none;
}
.progress{
  width: 445%;
  margin-left: -115%;
 -webkit-appearance: none;  
  height: 5px;
  border-radius: 5px;
  outline: none;  
  background:white;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.progress:hover {
    outline: none;
    color: #FF0000;
    opacity: 0.4;
}

.progress::-webkit-slider-thumb {
    
    
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #FF0000;
  cursor: pointer;
}
.progress::-moz-range-thumb {
   
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FF0000;
  cursor: pointer;
}

.btn:focus{
    outline: 0;
}
.fa-play{
    color: violet;
}
.fa-pause{
    color: yellow;
}
.fa-stop{
    color: red;
}

.timestamp{
    position: absolute;
    font-weight: bold;
    left: 76.8%;
    top: 91%;
    font-size: 18px;
    color: white;
}



#home button {
    cursor: pointer;
    margin: 14% 0 0 424%;
    width: 185%;
    height: 85%;
    border-radius: 5px;
    border: 3px solid #FF0000;
    color: #FF0000;
    font-size: 20px;
    background-color: transparent;
}

#home button:focus{
    outline: 0; 
}

#home button:hover{
    
    color: white;
    background-color: #FF0000;
}

img {
    width: 27%;
    margin: -6px 0 0px 0;
    display: flex;
    justify-content: center;
}

img:hover{
    transform: scale(1.1);
}

/* @media only screen and (min-width: 320px) and (max-width: 480px){
    body {
        height:100vh;
    }
    .screen {
        cursor: pointer;
        border-radius: 1%;
        background-color: black !important;
        margin: 0px 0 0px 5%;
        width: 90%;
    }

    .progress {
        width: 210%;
        margin-left: -83%;
        
    }

    img {
        width: 34%;
        margin: 1px 0 0px -55px;
    }
    .heading-of-video-player {
        margin: 0 0 0 41%;
    }
    span{
        font-size: 13px;
        margin: 0px 0 0 261%;
    }

   .btn-stop{
    width: 60%;
    margin: -26% 0 0 25%;
    }

    #home button {
        cursor: pointer;
        margin: 147% 0 0 0%;
        width: 100%;
        height: 22%;
    }
    .heading-of-video-player {
        margin: 0px 0 0 2%;
    }

    h1 {
        font-size: 150%;
    }
    .controls-btn-all{
        top: 84%;
        left: 22%;
    }
    #home{
        margin: 50% 0 0 0
    }

} */
