@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: white;
  background-image: url("/project2/Images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 210vh;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.movie-container label {
  display: block;
  color: #711324;
  font-size: 30px;
  font-weight: bold;
  margin: 0px 0px 10px 10px;
}

.movie-container img {
  height: 23px;
  margin-right: 5px;
}
.movie-container select {
  display: block;
  color: #800000;
  font-size: 20px;
  font-weight: lighter;
  margin-top: 10px;
  border: 0px;
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  border-radius: 20px;
}

.movie-container select:focus {
  outline: none;
}

.movie-container .movie option {
  margin-top: 10px;
}

.row {
  display: flex;
}

.legend {
  display: flex;
  align-items: center;
  color: white;
}
.legend li {
  margin-right: 30px;
  display: block;
  font-size: 20px;
}
.legend small {
  display: block;
  text-align: center;
}

.home button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 150px;
  margin-bottom: 30px;
  color: white;
  font-weight: lighter;
  font-size: 17px;
  background-color: #711324;
  cursor: pointer;
  
}

.home a {
  text-decoration-line: none;
}

.seat {
  margin: 3px;
}

.seat img:hover{
cursor: pointer;
transform: scale(1.1);
}

.seat:nth-last-of-type(8) {
  margin-right: 0px;
}
.seat:nth-last-of-type(7) {
  margin-right: 100px;
}
.seat:nth-last-of-type(1) {
  margin-left: 0px;
}
.seat:nth-last-of-type(2) {
  margin-left: 100px;
}
.row-space {
  margin-top: 20px;
}

.screen {
  background-color: #711324;
  width: 670px;
  height: 300px;
  margin: 0px 0px 20px 0px;
  border-radius: 10px;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px #711324;
}
.container {
  perspective: 1000px;
}

.text p {
  font-size: 20px;
  font-weight: lighter;
}

#count {
  color: gray;
  font-size: 20px;
  font-weight: bolder;
  margin: 0px 4px;
}

#total {
  color: gray;
  font-size: 20px;
  font-weight: bolder;
  margin: 0px 4px;
}

.movie-trailer{
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-left: 10px;
  padding-top:7px ;
  border: none;
}